<section id="about" class="mt-32">
  <div class="container mx-auto px-6 max-w-4xl">
    <h2 class="text-4xl font-bold mb-16 text-center">About <span class="text-accent-500">Me</span></h2>

    <div class="flex flex-col md:flex-row items-center gap-12">
      <div class="w-full">
        <p class="text-lg mb-6 text-gray-300">
          Hello! I'm Jusondac, a passionate Ruby on Rails developer with experience in creating efficient,
          scalable, and maintainable web applications.
        </p>
        <p class="text-lg text-gray-300">
          I specialize in developing RESTful APIs, implementing complex business logic, and creating
          responsive user interfaces. My goal is to write clean, well-documented code that solves
          real-world problems.
        </p>

        <div class="mt-8 border-b pb-16 border-gray-700 flex justify-center items-center gap-20">
          <div class="text-center flex flex-col items-center">
            <div class="text-accent-500 text-6xl font-bold">3+</div>
            <div class="text-gray-400">Years Experience</div>
          </div>
          <div class="text-center flex flex-col items-center">
            <div class="text-primary-400 text-6xl font-bold">10+</div>
            <div class="text-gray-400">Projects</div>
          </div>
        </div>
      </div>
    </div>
</section>