<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="bg-gradient-to-r from-gray-900 to-sky-900 text-white min-h-screen transition-colors duration-500</body>">
  {% include header.html %}

  <main class="mt-20 px-64">
    <div class="m-32">
      {{ page.title}}
      {{ content }}
      {% include footer.html %}
    </div>
  </main>


  {% if site.google_analytics %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
</body>

</html>